<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
<nav class="navbar">


    <div class="nav-left">
        DoCall
    </div>
    <div class="nav-right">
        <button onclick="window.location.href='/buildings'">Budynki</button>
        <button onclick="window.location.href='/doctors'">Lekarze</button>
    </div>
</nav>