@page "/doctors"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.SignalR
@using System.Threading.Tasks
@rendermode InteractiveServer
@inject DoctorService DoctorService

<h3>Lista Lekarzy</h3>
@if (updateActive){
        <EditForm Model="doctor" OnSubmit="updateDoctors" Enhance>
        <div class="form-group">
            <label>Imię</label>
        <InputText @bind-Value="doctor.first_name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Nazwisko</label>
            <InputText @bind-Value="doctor.last_name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Opis</label>
            <InputText @bind-Value="doctor.bio" class="form-control"/>
        </div>
        <div class="form-group">
            <label>E-Mail</label>
            <InputText @bind-Value="doctor.email" class="form-control"/>
        </div>
        @if (doctorAction == "save"){
            <div class="form-group">
                <label>Hasło</label>
                <InputText @bind-Value="doctor.password" class="form-control"/>
            </div>
        }
        <button type="submit">Zapisz</button>
        <button @onclick='() => {doctorAction =  "cancel"; doctor = new(); updateActive = false;}'>Anuluj</button>
    </EditForm>
}
else{
    @if (doctors == null)
        {
        <p><em>Ładowanie...</em></p>
    }
    else
    {   
        <QuickGrid Items="doctors">
            <PropertyColumn Property="p => p.first_name" Title="Imię"></PropertyColumn>
            <PropertyColumn Property="p => p.last_name" Title="Nazwisko"></PropertyColumn>
            <PropertyColumn Property="p => p.bio" Title="Opis"></PropertyColumn>
            <PropertyColumn Property="p => p.email" Title="E-Mail"></PropertyColumn>
            <PropertyColumn Property="p => p.password" Title="Hasło"></PropertyColumn>
            <TemplateColumn Title="Akcje">
                <button @onclick="() => editDoctor(context)">Edytuj</button>
                <button @onclick="() => deleteDoctor(context)">Usuń</button>
            </TemplateColumn>
        </QuickGrid>
        <button @onclick="() => updateActive = true">Dodaj Lekarza</button>
    }
}

@code {
    Doctor doctor {get; set;} = new();
    Boolean updateActive = false;
    string doctorAction = "save";

    private IQueryable<Doctor> doctors;

    protected override async Task OnInitializedAsync()
    {
        await fetchDoctors()
;    }
    public async Task fetchDoctors(){
        List<Doctor> doctorList = await DoctorService.GetAllDoctors();
        doctors = doctorList.AsQueryable();
    }
    public async Task updateDoctors(){
        if (doctorAction == "save"){
            await DoctorService.AddDoctor(doctor);
        }
        else if (doctorAction == "update"){
            await DoctorService.EditDoctor(doctor);
        }
        doctor = new();
        doctorAction = "save";
        await fetchDoctors();
        updateActive = false;
    }
    public void editDoctor(Doctor d){
        doctorAction = "update";
        doctor = d;
        updateActive = true;
    }      
    public async Task deleteDoctor(Doctor d){
        DoctorService.DeleteDoctor(d);
        await fetchDoctors();
    }
    public string getDoctorId(Doctor d){
        return d.id;
    }
}