@page "/buildings/offices/{building}"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.SignalR
@using System.Threading.Tasks
@rendermode InteractiveServer
@inject OfficeService OfficeService

<h3>Lista Gabinetów</h3>
@if (updateActive){
        <EditForm Model="office" OnSubmit="updateOffices" Enhance>
        <div class="form-group">
            <label>Numer Pokoju</label>
        <InputText @bind-Value="office.room_number" class="form-control"/>
        </div>
        <button type="submit">Zapisz</button>
        <button @onclick='() => {officeAction =  "cancel"; office = new(); updateActive = false;}'>Anuluj</button>
    </EditForm>
}
else{
    @if (offices == null)
        {
        <p><em>Ładowanie...</em></p>
    }
    else
    {   
        <QuickGrid Items="offices">
            <PropertyColumn Property="p => p.room_number" Title="Numer Gabinetu"></PropertyColumn>
            <TemplateColumn Title="Akcje">
                <button @onclick="() => editOffice(context)">Edytuj</button>
                <button @onclick="() => deleteOffice(context)">Usuń</button>
            </TemplateColumn>
        </QuickGrid>
        <button @onclick="() => updateActive = true">Dodaj Gabinet</button>
    }
}

@code {
    [Parameter]
    public string? building {get; set;}
    Office office {get; set;} = new();
    Boolean updateActive = false;
    string officeAction = "save";

    private IQueryable<Office> offices;

    protected override async Task OnInitializedAsync()
    {
        await fetchOffices();
;    }
    public async Task fetchOffices(){
        List<Office> officesList = await OfficeService.GetOfficeByBuilding(building);
        offices = officesList.AsQueryable();
    }
    public async Task updateOffices(){
        office.building_id = building;
        if (officeAction == "save"){
            await OfficeService.AddOffice(office);
        }
        else if (officeAction == "update"){
            await OfficeService.EditOffice(office);
        }
        office = new();
        officeAction = "save";
        await fetchOffices();
        updateActive = false;
    }
    public void editOffice(Office o){
        officeAction = "update";
        office = o;
        updateActive = true;
    }      
    public async Task deleteOffice(Office o){
        OfficeService.DeleteOffice(o);
        await fetchOffices();
    }    
}