@page "/buildings/officebookings/{office_id}"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.SignalR
@using System.Threading.Tasks
@using MongoDB.Bson
@rendermode InteractiveServer
@inject OfficeService OfficeService

<h3>Lista Rezerwacji</h3>
@if (updateActive){

        <EditForm Model="booking" OnSubmit="updateBookings" Enhance>
        <div class="form-group">
            <label>Dzień tygodnia</label>
            <InputSelect @bind-Value="booking.week_day" class="form-control">
                <option value="mon">Poniedziałek</option>
                <option value="tue">Wtorek</option>
                <option value="wed">Środa</option>
                <option value="thu">Czwartek</option>
                <option value="fri">Piątek</option>
                <option value="sat">Sobota</option>
                <option value="sun">Niedziela</option>
            </InputSelect>
        </div> 
        <div class="form-group">
            <label>Czas rozpoczęcia rezerwacji</label>
        <InputDate TValue="TimeOnly" @bind-Value="booking.time_start" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Czas zakończenia rezerwacji</label>
            <InputDate TValue="TimeOnly" @bind-Value="booking.time_end" class="form-control"/>
        </div>

        <button type="submit">Zapisz</button>
        <button @onclick='() => {bookingAction =  "cancel"; booking = new(); updateActive = false;}'>Anuluj</button>
    </EditForm>
}
else{
    @if (bookings == null)
        {
        <p><em>Ładowanie...</em></p>
    }
    else
    {   
        <QuickGrid Items="bookings">
            <PropertyColumn Property="p => p.week_day" Title="Dzień tygodnia"></PropertyColumn>
            <PropertyColumn Property="p => p.time_start" Title="Czas rozpoczęcia"></PropertyColumn>
            <PropertyColumn Property="p => p.time_end" Title="Czas zakończenia"></PropertyColumn>
            <PropertyColumn Property="p => getOfficeNumberById(p.office_id)" Title="Gabinet"></PropertyColumn>
            <TemplateColumn Title="Akcje">
                <button @onclick="() => editBooking(context)">Edytuj</button>
                <button @onclick="() => deleteBooking(context)">Usuń</button>
            </TemplateColumn>
        </QuickGrid>
        <button @onclick="() => updateActive = true">Dodaj Rezerwację</button>
    }
}

@code {
    [Parameter]
    public string? office_id {get; set;}
    OfficeBooking booking {get; set;} = new();
    Boolean updateActive = false;
    string bookingAction = "save";
    private IQueryable<OfficeBooking> bookings;


    protected override async Task OnInitializedAsync()
    {
        await fetchBookings()
;   }
    public async Task fetchBookings(){
        List<OfficeBooking> bookingList = await OfficeService.GetOfficeBookingsByOffice(office_id);
        bookings = bookingList.AsQueryable();
    }
    public async Task updateBookings(){
        if (bookingAction == "save"){
            booking.office_id = office_id;
            await OfficeService.BookOffice(booking);
        }
        else if (bookingAction == "update"){
            await OfficeService.EditBooking(booking);
        }
        booking = new();
        bookingAction = "save";
        await fetchBookings();
        updateActive = false;
    }
    public void editBooking(OfficeBooking b){
        bookingAction = "update";
        booking = b;
        updateActive = true;
    }      
    public async Task deleteBooking(OfficeBooking b){
        OfficeService.DeleteBooking(b);
        await fetchBookings();
    }
    public async Task<string> getOfficeNumberById(string id){
        Office o =  await OfficeService.GetOfficeById(id);
        return o.room_number;
    }
}